body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 350px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 8px;
  background: green;
  color: white;
  border: none;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
}
