body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 350px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 8px;
  background: green;
  color: white;
  border: none;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
}
/* DARK MODE */
.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark input,
.dark select {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #555;
}

.dark button {
  background-color: #2c2c2c;
  color: white;
}

.dark .item {
  background-color: #2b2b2b;
}

.toggle-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.toggle-btn:hover {
  background: #444;
}
